<!DOCTYPE HTML>
<html>
	<head>
		<title>中正大學門診預約 - 就診須知</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel-layers.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/init.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/skel.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style-xlarge.css') }}" />
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="index.html">CCU</a></h1>
				<nav id="nav">
					<ul>
							<li><a href="index.html">首頁</a></li>
							<li><a href="imformation.html">就診須知</a></li>
							<li><a href="time.html">門診時間</a></li>
							<li><a href="service.html">服務介紹</a></li>
							<li><a href="form.html" class="button special" style="background-color:#FF8888">我要預約</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper style1">
				<header class="major">
					<h2>就診須知</h2>
					<p></p>
				</header>
				<div class="container">
					<section>
						<h2>就診須知</h2>
						<p>1、包括本校教職員工、在學學生、教職員工之配偶及未就業之直系親 屬、臨時聘僱人員，免費看診。</br></br>
							2、交換學者或教師，因非本校教職員工，仍可掛號看診，但藥物費用需自行付款給藥師。</br></br>
							3、處方籤採釋出方式，請校外專業藥師調劑，於門診當日結束後至衛保組領藥。<br><br>
							4、為維護良好的就診品質，<span style="color:#FF8888;">每診限掛20位。</span><br><br>
							5、過號時，請與櫃檯人員報到，醫師將每過號1人順延3個號碼安排就診，若再過號者則往後順延號碼，以此類推。<br><br>
							</p>
					</br>
						<h2>衛生保健組門診中心隱私權政策</h2>
						<p>一、本校蒐集您的個人資料在中華民國《個人資料保護法》與相關法令之規範下，依據本校「隱私權政策聲明」，蒐集、處理及利用您的個人資料。</br></br>
							二、病歷資料僅供健康中心就診時使用不做他途。</br></br>
							三、請於填寫資料時提供您本人正確、最新及完整的個人資料。</br></br>
							四、若您的個人資料有任何異動，請主動向本組申請更正，使其保持正確、最新及完整，您了解並同意：若您提供錯誤、不實、過時或不完整的資料，您將可能損失相關權益。</br></br>
							五、您可依據中華民國《個人資料保護法》第三條之規定，於我們的上班時間，就您的個人資料行使以下權利：（一）請求查詢或閱覽；（二）製給複製本；（三）請求補充或更正；（四）請求停止搜集、處理及利用；（五）請求刪除。</br></br>
						</p>
					</section>
				</div>
			</section>

		<!-- Footer -->
		<footer id="footer">
				<div class="container">
					<div class="row double">
						<div class="6u">
							<div class="row collapse-at-2">
								<div class="6u">
									<h2>Related links</h2>
									<ul class="alt">
										<li><a href="http://healthcare.ccu.edu.tw:5555/">健康e點通</a></li>
										<li><a href="https://www.cdc.gov.tw/?aspxerrorpath=/diseaseinfo.aspx">狂犬病專區</a></li>
									</ul>
								</div>
								<div class="6u">
									<h2>　</h2>
									<ul class="alt">
										<li><a href="http://studaffbh.ccu.edu.tw/ezfiles/2/1002/pictures/961/part_11401_2129912_50782.png">校園AED位置</a></li>
										<li><a href="http://studaffbh.ccu.edu.tw/files/11-1002-537.php">傳染病防疫專區</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="6u">
							<h2>Health Center</h2>
							<p>[621] 嘉義縣民雄鄉大學路168號 (05)2720411</br>
								168, University Rd. Min-Hsiung Chia-Yi, Taiwan, R.O.C.
							</p>
						</div>
					</div>
				</div>
				</div>
			</footer>

	</body>
</html>