<!DOCTYPE HTML>
<html>
	<head>
		<title>中正大學門診預約 - 服務介紹</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/skel.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/skel-layers.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/init.js')}}"></script>
		<link rel="stylesheet" href="{{url_for('static',filename='css/skel.css')}}" />
		<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
		<link rel="stylesheet" href="{{url_for('static',filename='css/style-xlarge.css')}}" />
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="index.html">CCU</a></h1>
				<nav id="nav">
					<ul>
							<li><a href="index.html">首頁</a></li>
							<li><a href="imformation.html">就診須知</a></li>
							<li><a href="time.html">門診時間</a></li>
							<li><a href="service.html">服務介紹</a></li>
							<li><a href="form.html" class="button special" style="background-color:#FF8888">我要預約</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper style1">
				<header class="major">
					<h2>服務介紹</h2>
					<p></p>
				</header>
				<div class="container">
					<section>
						<h2>中醫門診</h2>
						<p>1、診療科別：一般科（中醫針灸骨傷科等各類中醫治療）。</br></br>
							2、提供一般健康管理諮詢及中醫保健養生、美容、體重控制、戒菸等諮詢服務。</br></br>
							3、＜中醫針灸骨傷科＞運動傷害、一般扭挫傷、頸項酸痛、落枕、肩背痛、網球肘、高爾夫球肘、媽媽手、肌腱炎、腰背痛、膝痛、坐骨神經痛、椎間盤疾患、退化性關節炎、骨質疏鬆症、神經痛、足跟痛、中風後遺症、顏面神經麻痺、戒菸、骨折中後期復健。
						</p>
						
						<h2>中醫師學歷及專長</h2>
						<img src="{{url_for('static',filename='images/CEducation.png')}}" alt="中醫師學歷及專長">

					</br></br></br>
						<h2>家醫科門診</h2>
						<p>1、常見疾病的預防與診治（內、外、婦、兒科疾病）。</br></br>
							2、長期慢性病追蹤（糖尿病、高血壓、新陳代謝）。</br></br>
							3、相關疾病轉介（需進一步確定病因之任何科別轉介服務）。</br></br>
							4、傷口處理（一般外傷處理及換藥）。
						</p>

						<h2>家醫科醫師學歷及專長</h2>
						<img src="{{url_for('static',filename='images/FEducation.png')}}" alt="家醫科醫師學歷及專長">

					</section>
				</div>
			</section>

		<!-- Footer -->
		<footer id="footer">
				<div class="container">
					<div class="row double">
						<div class="6u">
							<div class="row collapse-at-2">
								<div class="6u">
									<h2>Related links</h2>
									<ul class="alt">
											<li><a href="http://healthcare.ccu.edu.tw:5555/">健康e點通</a></li>
											<li><a href="https://www.cdc.gov.tw/?aspxerrorpath=/diseaseinfo.aspx">狂犬病專區</a></li>
										</ul>
									</div>
									<div class="6u">
										<h2>　</h2>
										<ul class="alt">
											<li><a href="http://studaffbh.ccu.edu.tw/ezfiles/2/1002/pictures/961/part_11401_2129912_50782.png">校園AED位置</a></li>
											<li><a href="http://studaffbh.ccu.edu.tw/files/11-1002-537.php">傳染病防疫專區</a></li>
										</ul>
								</div>
							</div>
						</div>
						<div class="6u">
							<h2>Health Center</h2>
							<p>[621] 嘉義縣民雄鄉大學路168號 (05)2720411</br>
								168, University Rd. Min-Hsiung Chia-Yi, Taiwan, R.O.C.
							</p>
						</div>
					</div>
				</div>
				</div>
			</footer>

	</body>
</html>